.bgg{
    position: relative;
    height: 100vh;
}

@media only screen and (max-width: 1060px) {
  /* .bgg{
    display: flex;
    flex-direction: column;
justify-content: start; 
gap: 190px; 
} */
  }